extensions:
  jaeger_storage:
    backends:
      memory_storage:
        memory:
          max_traces: 10000
    metric_backends:
      prometheus_backend:
        prometheus:
          endpoint: http://prometheus:9090
          normalize_calls: true
          normalize_duration: true

  jaeger_query:
    storage:
      traces: memory_storage
      metrics: prometheus_backend
    base_path: /
    ui:
    http:
      endpoint: 0.0.0.0:16686

connectors:
  spanmetrics: {}

exporters:
  prometheus:
    endpoint: "0.0.0.0:8889"
  
  jaeger_storage_exporter:
    trace_storage: memory_storage

receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
    timeout: 5s

service:
  extensions: [jaeger_storage, jaeger_query]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [jaeger_storage_exporter, spanmetrics]
    metrics/spanmetrics:
      receivers: [spanmetrics]
      exporters: [prometheus]