version: '3.8'

services:
  # rtpengine:
  #   image: fonoster/rtpengine:latest
  #   container_name: rtpengine
  #   network_mode: host
  #   privileged: true
  #   environment:
  #     - PORT_MIN=10000
  #     - PORT_MAX=20000
  #     - LOG_LEVEL=7
  #   restart: unless-stopped

  jaeger:
    image: jaegertracing/jaeger:latest
    container_name: jaeger
    ports:
      - "16686:16686" # UI
      - "4318:4318" # OTLP HTTP
    environment:
      - METRICS_STORAGE_TYPE=prometheus
      - PROMETHEUS_SERVER_URL=http://prometheus:9090
    command: --config /jaeger/config.yaml
    volumes:
      - ./config.yml:/jaeger/config.yaml

    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9092:9090"
    restart: unless-stopped
